
<ul>
<li><a href="/">Home</a></li>
<li><a href="/themiracle.html">The Miracle</a></li>
<li><a href="/thepaintings.html">The Paintings</a></li>
<li><a href="/maryseyeofmercy.html">Mary's Eye of Mercy</a></li>
<li><a href="/theartistsstory.html">The Artist's Story</a></li>

<!--
<li>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100" height="153">
    <param name="movie" value="images/paintings.swf" />
    <param name="quality" value="high" />
    <embed src="images/paintings.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100" height="153"></embed>
  </object>
</li>
-->
</ul>
<br><br>

<a target="_blank" href="http://www.amazon.com/Gift-Rosary-Elizabeth-T-Pabst/dp/1467557668/ref=sr_1_1?ie=UTF8&qid=1357235594&sr=8-1&keywords=gift+of+the+rosary+pabst"><img width="150" src="images/book-cover.jpg"></a>

