<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>{{page.title}} | Behold Your Mother</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37400350-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>    
</head>
<body>
<div id="wrapper">
<div id="header">

<h1>Behold Your Mother</h1>
<p>A Message of Mercy</p>

</div><!-- end header div-->
<div id="navigation">

{% include nav.html %}

</div><!-- end navigation div -->
<div id="content">

{{page.content}}

</div><!-- end content div -->

<div id="footer">
<p>
For information contact:<br>
Behold Your Mother Foundation<br>
Phone: 480-632-0191<br />
E-mail:<a href="mailto:beholdyourmother@charlespabst.com">beholdyourmother@charlespabst.com</a><br>
Artist Website: <a href="http://www.charlespabst.com" target="_blank">www.charlespabst.com</a>
</p>

<p>&copy;2006-2012 Behold Your Mother</p>


</div><!-- end footer div -->


</div><!-- end wrapper div-->

</body>
</html>
